.literasi{
    position: absolute;
    width: 70%;
    margin-top: 20px;   
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #426a8d;
}
.list{
    width: 100%;
    
    background-color: #3d6464;
}

.list1{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #72b3ec;
    margin-bottom: 10px;
}
.list1 h5{
    margin-left: 5%;
    margin-top: 13px;
    font-weight: bold;
    font-size: 1.7vw;
}
.desk {
    position:  absolute;
    font-size: 1.5vw;
    margin-left: 37%;
    margin-top: 48px;
    font-weight: bold;
}

.foto{
    width: 20%;
    height: 220px;
    background-color: white;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 10px;
}

.foto img{
    width: 100%;
    height: 220px;
}

.literasi button{
    margin-left: 15%;
    cursor: pointer ;
}

.deskripsi{
    width: 40%;
    margin-left: 37%;
    margin-top: -242px;
    background-color: white;
}
.deskripsi p{
    text-align: justify;
    margin: 10px;
    height: 180px;
    font-size: 1.2vw;
}
