
h1 {
    color: #333;
}

.pendaftar {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pendaftar-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.approve-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.approve-button:hover {
    background-color: #0056b3;
}
